[submodule "FlightExamples/lib/fprime"]
	path = FlightExamples/lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "FlightExamples/lib/openssl"]
	path = FlightExamples/lib/openssl
	url = https://github.com/openssl/openssl
